DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=seu banco
JWT_SECRET=sua chave_secreta_jwt
GMAIL_USER= seu email da senha
GMAIL_APP_PASS= sua senha de aplicativo do gmail
VITE_API_URL=https://sectec-ja.up.railway.app/api